
<h1>MEME"S</h1>


{% csrf_token %}

<form action="update_data/" method="post">
{% csrf_token %}
    <img src={{ random_int.0.1 }} width="400px" height="400px"  >
          <input type="text" name='1' width="5vw"></input>
          <input type="hidden" name="meme_no_1" value={{random_int.0.0}}></input>
    <img src={{ random_int.1.1 }} width="400px" height="400px" >
          <input type="text" name='2' width="5vw"></input>
          <input type="hidden" name="meme_no_2" value={{random_int.1.0}}></input>
    <img src={{ random_int.2.1 }} width="400px" height="400px"  >
          <input type="text" name='3' width="5vw"></input>
          <input type="hidden" name="meme_no_3" value={{random_int.2.0}}></input>
    <img src={{ random_int.3.1 }} width="400px" height="400px" >
          <input type="text" name='4' width="5vw"></input>
          <input type="hidden" name="meme_no_4" value={{random_int.3.0}}></input>
    <img src={{ random_int.4.1 }} width="400px" height="400px"  >
          <input type="text" name='5' width="5vw"></input>
          <input type="hidden" name="meme_no_5" value={{random_int.4.0}}></input>
    <img src={{ random_int.5.1 }} width="400px" height="400px" >
          <input type="text" name='6' width="5vw"></input>
          <input type="hidden" name="meme_no_6" value={{random_int.5.0}}></input>
    <img src={{ random_int.6.1 }} width="400px" height="400px"  >
          <input type="text" name='7' width="5vw"></input>
          <input type="hidden" name="meme_no_7" value={{random_int.6.0}}></input>
    <img src={{ random_int.7.1 }} width="400px" height="400px" >
          <input type="text" name='8' width="5vw"></input>
          <input type="hidden" name="meme_no_8" value={{random_int.7.0}}></input>
    <img src={{ random_int.8.1 }} width="400px" height="400px"  >
          <input type="text" name='9' width="5vw"></input>
          <input type="hidden" name="meme_no_9" value={{random_int.8.0}}></input>
    <img src={{ random_int.9.1 }} width="400px" height="400px" >
          <input type="text" name='10' width="5vw"></input>
          <input type="hidden" name="meme_no_10" value={{random_int.9.0}}></input>
    <img src={{ random_int.10.1 }} width="400px" height="400px"  >
          <input type="text" name='11' width="5vw"></input>
          <input type="hidden" name="meme_no_11" value={{random_int.10.0}}></input>
    <img src={{ random_int.11.1 }} width="400px" height="400px" >
          <input type="text" name='12' width="5vw"></input>
          <input type="hidden" name="meme_no_12" value={{random_int.11.0}}></input>
    <img src={{ random_int.12.1 }} width="400px" height="400px"  >
          <input type="text" name='13' width="5vw"></input>
          <input type="hidden" name="meme_no_13" value={{random_int.12.0}}></input>
    <img src={{ random_int.13.1 }} width="400px" height="400px" >
          <input type="text" name='14' width="5vw"></input>
          <input type="hidden" name="meme_no_14" value={{random_int.13.0}}></input>
    <img src={{ random_int.14.1 }} width="400px" height="400px"  >
          <input type="text" name='15' width="5vw"></input>
          <input type="hidden" name="meme_no_15" value={{random_int.14.0}}></input>
    <img src={{ random_int.15.1 }} width="400px" height="400px" >
          <input type="text" name='16' width="5vw"></input>
          <input type="hidden" name="meme_no_16" value={{random_int.15.0}}></input>
    <img src={{ random_int.16.1 }} width="400px" height="400px"  >
          <input type="text" name='17' width="5vw"></input>
          <input type="hidden" name="meme_no_17" value={{random_int.16.0}}></input>
    <img src={{ random_int.17.1 }} width="400px" height="400px" >
          <input type="text" name='18' width="5vw"></input>
          <input type="hidden" name="meme_no_18" value={{random_int.17.0}}></input>
    <img src={{ random_int.18.1 }} width="400px" height="400px"  >
          <input type="text" name='19' width="5vw"></input>
          <input type="hidden" name="meme_no_19" value={{random_int.18.0}}></input>
    <img src={{ random_int.19.1 }} width="400px" height="400px" >
          <input type="text" name='20' width="5vw"></input>
          <input type="hidden" name="meme_no_20" value={{random_int.19.0}}></input>


   <input type="submit" value="Submit">
</form>

